body {
    text-align: center;
    margin: 0;

    font-family: serif;

    background-color: #444;

    user-select: none;
}

#game-container {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
    height: 850px;
    width: 1200px;

    background-color: #35654d;
    border: solid black 4px;

    display: grid;
    grid-template: 1fr / 2fr 5fr 2fr;
}

#left-container {
    display: grid;
    grid-template: 6fr 1fr 6fr 6fr 1fr / 1fr;
}

.mana {
    background-image: url("../data/img/misc/mana-empty.png");
    background-size: cover;
    display: inline;
    height: 33px;
    width: 20px;
}

#center-container {
    display: grid;
    grid-template: 1fr 2fr 2fr 1fr / 1fr;
}

#right-container {
    display: grid;
    grid-template: 5fr 3fr 1fr 1fr / 1fr;
}

#card-largepic-zone {
    background-image: url("../data/img/misc/card-back.png");
    background-size: cover;
}

.container, .enemy-hand-space, .enemy-natial-space, .friendly-hand-space, .friendly-natial-space {
    border: solid black 1px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#enemy-natial-zone {
    flex-wrap: wrap-reverse;
    padding: 0 20%;
}

#friendly-natial-zone {
    flex-wrap: wrap;
    padding: 0 20%;
}

/* not the final layout size -- retweak later */
.enemy-hand-space, .enemy-natial-space, .friendly-hand-space, .friendly-natial-space {
    height: 136px;
    width: 85px;
}

.friendly, .enemy {
    position: relative;
}

.name-banner {
    position: absolute;
    bottom: 2px;

    display: none;
    text-align: center;
    font-family: "Satisfy";
    font-weight: bold;
    font-size: 1em;

    width: 98%;
    opacity: 0.8;
}

.hp-orb, .atk-orb, .mana-orb, .icons {
    position: absolute;

    display: none;
    justify-content: center;
    align-items: center;

    height: 1.5em;
    width: 1.5em;
    margin: 3px;
    border: solid black 1px;
    border-radius: 100%;

    font-weight: bold;
}

.hp-orb {
    bottom: 24px;
    right: 0;

    background-color: rgba(0, 255, 0, 0.8);
}

.atk-orb {
    bottom: 24px;
    left: 0;

    background-color: rgba(255, 0, 0, 0.8);
}

.mana-orb {
    top: 2px;
    right: 0;

    background-color: steelblue;
}

.icons {
    left: 0;
    top: 2px;
    border: none;
    border-radius: 0;
    width: 1.5em;
    flex-wrap: wrap;
}

.icon {
    height: 1.5em;
    width: 1.5em;
    display: block;
}




.dragging {
    opacity: 0.5;
    border: solid black 1px;
}

.target-valid {
    background-color: green;
}

.target-invalid {
    background-color: red;
}

.target-attack {
    background-color: orange;
}

.hovered {
    box-shadow: 3px 3px 1px black;
}

.skill-selected {
    background-color: cyan;
}