body {
    text-align: center;
    margin: 0;

    font-family: sans-serif;

    background-color: #AAA;

    user-select: none;
}

#game-container {
    position: absolute;
    margin: 0 10%;
    height: 100%;
    width: 80%;

    display: grid;
    grid-template: 1fr / 2fr 5fr 2fr;
}

#left-container {
    background-color: pink;

    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
}

#center-container {
    background-color: lightgreen;

    display: grid;
    grid-template: 1fr 2fr 2fr 1fr / 1fr;
}

#right-container {
    background-color: lightblue;

    display: grid;
    grid-template: 4fr 1fr / 1fr;
}

#card-detail-zone {
    font-size: 20pt;
}

.container, .enemy-hand-space, .enemy-natial-space, .friendly-hand-space, .friendly-natial-space {
    border: solid black 1px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#enemy-natial-zone {
    flex-wrap: wrap-reverse;
    padding: 0 20%;
}

#friendly-natial-zone {
    flex-wrap: wrap;
    padding: 0 20%;
}

.enemy-hand-space, .friendly-hand-space {
    height: 95%;
    width: 12.6%;

    font-size: 9pt;
}

.enemy-natial-space, .friendly-natial-space {
    height: 47.5%;
    width: 21%;

    font-size: 9pt;
}

.friendly, .enemy {
    position: relative;
}

.name-banner {
    position: absolute;
    top: 0px;

    display: none;
    text-align: center;

    width: 100%;
    background-color: rgba(180 , 180, 180, 0.7);
}

.hp-orb, .atk-orb {
    position: absolute;
    bottom: 0;

    display: none;
    justify-content: center;
    align-items: center;

    height: 2em;
    width: 2em;
    margin: 2px;
    border: solid black 1px;
    border-radius: 100%;

    font-weight: bold;
}

.hp-orb {
    bottom: 0;
    right: 0;

    background-color: rgba(0, 255, 0, 0.8);
}

.atk-orb {
    left: 0;

    background-color: rgba(255, 0, 0, 0.8);
}






.dragging {
    opacity: 0.5;
    border: solid black 1px;
}

.target-valid {
    background-color: green;
}

.target-invalid {
    background-color: red;
}

.target-attack {
    background-color: orange;
}

.hovered {
    box-shadow: 3px 3px 1px black;
}

.skill-selected {
    background-color: cyan;
}